{% block body %}
<link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="\">Bienvenue agent</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav ml-auto ">
         <li class="nav-item">
                {% if is_granted('ROLE_Agent') %}
                    <div class="mb-3">
                        <a href="{{ path('app_logout') }}">Logout</a>
                        <a href=> {{app.user.Fullname}} </a>
                    </div>
                 {% endif %}        
      </ul>
     
    </div> 
    
  </div>
</nav>
         
      </ul>
  
    </div>
    
  </div>
</nav>

{% for message in app.flashes('notice') %}
<div class="alert alert-success" role="alert">
{{message}}
</div>
{% endfor %}
<h1> Liste des Voitures</h1>
<table border=1>
<tr>
<td>ID</td>
<td>Marque</td> 
<td>Couleur</td> 
<td>Description</td> 
<td>NbrPlaces</td>

<td>etat de voiture</td>  
 
</tr>
{% for voiture in voitures %}


<tr>
<td> {{ voiture.id }}</td> 
<td> {{ voiture.marque }}</td> 
<td>  {{ voiture.couleur }} </td>  
 <td> {{ voiture.description }}</td>  
  <td> {{ voiture.nbdeplace }} Places </td>
 
  <td> {% if voiture.Disponiibilite ==0 %}  
  <a href="{{ path('louervoiture' , {'mat': voiture.matricule}) }}">louer</a> 
  {% else %} 
  <a href="{{ path('rendrevoiture' , {'mat': voiture.matricule}) }}">rendre</a> </td>
  {% endif %}
  

</tr> 
{% endfor%}
</table>
{% endblock %}