{% block body %}
       <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="\">Bienvenue administrateur</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto "> 
        <a class="nav-link dropdown-toggle" href="{{ path('voiture' ) }}">Gestion des voitures</a>
        </ul> 
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <a class="nav-link dropdown-toggle" href="{{ path('agence' ) }}">Gestion des agences</a>
        </ul> 
        
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <a class="nav-link dropdown-toggle" href="{{ path('agent' ) }}">Gestionles comptes des agents</a>
     
        </ul> 
       

      <ul class="navbar-nav ml-auto ">
         <li class="nav-item">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="mb-3">
                        <a href="{{ path('app_logout') }}">Logout</a>
                        <a href=> {{app.user.Fullname}} </a>
                    </div>
                 {% endif %}
      </ul>
    </div>
  </div>
</nav>
         
      </ul>
   
    </div>
  </div>
  
</nav>

<img src="photo.jpg">
{% endblock %}